<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem
        id="sports_betting_menu_root"
        name="Sports "
        sequence="10"/>

    <menuitem
        id="sports_betting_menu"
        name="Sports Betting"
        parent="sports_betting_menu_root"
        sequence="10"/>


    <menuitem
        id="sports_betting_settings_menu"
        name="Settings"
        parent="sports_betting_menu_root"
        sequence="20"/>

</odoo>